.DS_Store
*.pyc
__pycache__
*.swp
.sass-cache
*.log
dist
build
*.egg-info
*.pem
cache.json
database_credentials.json
nohup.out
node_modules
archived_logs
latest_logs
logs.txt
*.idea
package-lock.json
venv
.vscode
downloaded_files
